body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1A1C22;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

header {
  padding: 0 1rem;
  background-color: #101116;
  display: flex;
  flex-direction: row;
}
header .rigth {
  justify-content: flex-end;
}
header > div {
  flex: 1;
  display: flex;
  align-items: center;
}
header img {
  height: 50px;
  margin: 0.5rem 1rem;
}
header button {
  border: solid 1px #C83709;
  max-width: 100px;
}

nav {
  list-style: none;
}
nav li {
  display: inline-block;
  margin: 1rem;
  vertical-align: middle;
}

h1 {
  text-align: center;
  font-size: 2em;
}

button {
  width: 200px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: #101116;
  font-weight: bold;
  transition: ease 0.5s;
}
button:hover {
  background-color: #C83709;
  transition: ease 0.5s;
  cursor: pointer;
}

.centering {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type=range] {
  height: 25px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background-color: transparent;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #C83709;
  border-radius: 1px;
  border: 0px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #C83709;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #101116;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #C83709;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #C83709;
  border-radius: 1px;
  border: 0px solid #000000;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #C83709;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #101116;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #C83709;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-fill-upper {
  background: #C83709;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #C83709;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #101116;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #C83709;
}

input[type=range]:focus::-ms-fill-upper {
  background: #C83709;
}

/*# sourceMappingURL=index.css.map */
